{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block body %}
    <section class="login-clean">
        <form method="post">
            {% csrf_token %}
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username" /></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div><a class="forgot" href="{% url 'Register' %}">Forgot your email or password?</a>
        </form>
    </section>
{% endblock body %}
    
    