.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;    
    max-height: 50px;     
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}